.titulo{
    font-size: 1.5rem;
    color: #344E41;
    font-weight: normal;
}

.icone{
    font-size: 1.5rem;
    color: #344E41;
}

.opcoes{
    display: flex;
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 10rem;
}